.popup__input-container_handlers {
  margin-top: 48px;
  background-color: #000000;
  border-radius: 2px;
  min-height: 50px;
}

@media screen and (max-width: 650px) {
  .popup__input-container_handlers {
    margin-top: 45px;
    min-height: 46px;
  }
}

.popup__input-container_handlers:hover {
  opacity: 0.8;
}
